{% extends "layout.html" %}

{% block title %}
    Recover Password
{% endblock %}
{% block style %}
    <style>
        h3 {text-align: center;padding: 20px;}
        #login_form {text-align: center; padding: 20px;}
    </style>    
{% endblock %}


{% block body %}
    <div class="row" id="banner">
        <div class="col-lg-4 col-sm-12" id="left_banner">
            <h4><a href="/login">Login</a></h4>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h1 id="heading">My Photo App</h1>
        </div>
        <div class="col-lg-4 col-sm-12" id="right_banner">
            <h4><a href="/register">Register</a></h4>
        </div>
    </div>
    <h3>Confirm Account</h3>
    <div id="login_form">
        <form method="post" action="{{ url_for('forgotpassword') }}">
            <p>Enter Username</p>
            <input name="username" type="text" placeholder="username" autofocus><br><br>
            <p>The email address associated with this username will receive a confirmation code in its inbox/junk folder.</p>
            <input type="submit" value="Submit">
        </form>
        {% if error_message %}
            <div id="error_message">
                {{ error_message }}
            </div>
        {% endif %}
        <p><a href="/logout">Cancel</a></p>
    </div>
{% endblock %}