{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}
{% block style %}
    <style>
        h3 {text-align: center;}
        #register_form {text-align: center;}
    </style>    
{% endblock %}


{% block body %}
    <div class="row" id="banner">
        <div class="col-lg-4 col-sm-12" id="left_banner">
            <h4><a href="/forgotpassword">Forgot Password</a></h4>
        </div>
        <div class="col-lg-4 col-sm-12">
            <h1 id="heading">My Photo App</h1>
        </div>
        <div class="col-lg-4 col-sm-12" id="right_banner">
            <h4><a href="/login">Login</a></h4>
        </div>
    </div>
    <h3>Register</h3>
    <div id="register_form">
        <form method="post" action="{{ url_for('register') }}">
            <p>Username</p>
            <input name="username" type="text" placeholder="Username" autofocus><br><br>
            <p>Password</p>
            <input name="password" type="password" placeholder="Password"><br><br>
            <p>Re-Type Password</p>
            <input name="password1" type="password" placeholder="Re-Type Password"><br><br>
            <p>Email Address</p>
            <input name="email" type="text" placeholder="Email Address"><br><br>
            <input type="submit" value="Register">
        </form>
        {% if error_message %}
            <div id="error_message">
                {{ error_message }}
            </div>
        {% endif %}
    </div>
{% endblock %}